[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Nafism
[access "refs/for/refs/*"]
	read = group user/Nafism
	push = group user/Nafism
	label-Code-Review = -2..+2 group user/Nafism
	label-Verified = -1..+1 group user/Nafism
	rebase = group user/Nafism
	removeReviewer = group user/Nafism
	submit = group user/Nafism
[access "refs/heads/*"]
	read = group user/Nafism
	create = group user/Nafism
	push = +force group user/Nafism
	pushMerge = group user/Nafism
[access "refs/tags/*"]
	push = group user/Nafism
	push = +force group user/Nafism
